*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button{
	cursor: pointer;
}

ul{
    list-style-type: none;
}

.body{
	min-height: 3rem;
	max-width: 1rem;
}

.page-content{
	text-align: center;
	/* min-height: 2000px; */
	position: relative;
	/* border:1px solid black; */
}

.ad{
	min-height: 0.5em; 
	background-color: #4ec5c1;
}

.header{
	min-height: 3em; 
	width: 100%; 
	text-align: center;
	/* border: 1px solid black; */
}

.top-menu{
	margin-top: 0.6em;
}

.header-btn{
	margin-top: 1.2em; 
	cursor: pointer; 
	float: right; 
	margin-right: 1em; 
	border: 0; 
	background-color: white;
}

.logo-text{
	cursor: pointer;
	padding-left: 5em; 
	font-size: 2.5em; 
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter {
    display: inline-block;
    width: 100%;
	max-height: 2em;
	margin-top: 0.6em;
    margin-left: auto;
	margin-right: auto;
	/* border: 1px solid black; */
}

.filter-menu{
	width: 100%; 
	/* max-height: 2em;  */
}

.filter-menu-detail{
    /* border: 1px solid #ec576b; */
    display: inline;
    margin-right: 2em;
    position: relative;
}

.filter-menu-detail a{
    cursor: pointer;
}

.filter-menu-detail a:hover{
    font-weight: bold;
    border-bottom:1px solid #4ec5c1;
}

.searchContainer{
	/* border: 1px solid red; */
	min-height: 12em; 
	width: 100%; 
	text-align: center; 
}

.search{
	display: inline-block;
	margin-top: 5em;
	width: 25%;
	background-color:#ec576b;
}

.search input{
	height:2.4em;
	background-color: white;
	border: 1px solid #ec576b;
	width: 80%;
	float: left;
	/* border-radius: 0.3em; */
}

.search input::placeholder{
	font-size:1em;
}

.search button{
    position: relative;
	width: 20%;
	height: 2em;
	text-align: center;
	background-color: #ec576b;
	font-size: 1em;
	border:none;
	color: white;
	display: block;
}

.main-content{
	/* border: 1px solid black; */
	width: 100%;
	min-height: 1500px;
	overflow: auto;
}

.left, .right{
	/* border: 1px solid green; */
	width: 5%;
	min-height: inherit;
	float: left;
}

.result{
	float: left;
	/* border: 1px solid black; */
	width: 90%;
	min-height: inherit;
}

.sort{
	/* border: 1px solid black; */
	text-align: left; 
	padding-top: 0.5em; 
	padding-left: 0.5em;
}

.sort-text{
	font-size: 0.8em; 
	color:gray;
}

.sort-option{
	border: 0;
}

.container{
	width: 100%;
}

.product-list{
	margin: auto;
}

.product-item{
	float: left; 
	max-width: 19%; 
	margin-top: 1%;
	margin-left:0.83%;
	/* border: 1px solid black; */
}

/* .product-item-right{
	margin-left:1%;
} */

.product-item img{
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.product-item p{
	margin-top: 0.8em; 
	text-align: left;
}

.product-btn{
	border:1px solid black; 
	min-width: 100%; 
	min-height: 2.5em; 
	margin-top: 1em; 
	font-weight: bold; 
	background-color: white; 
	cursor: pointer;
}

.price{
	float: left; 
	margin-left: 1.5em;
}

.view-detail{
	float: right; 
	margin-right:1.5em;
}

.view-more-btn{
	cursor: pointer; 
	margin: 2em auto 1em; 
	min-height: 50px; 
	min-width: 220px; 
	border: 1px solid black; 
	background-color: white;
}

.return-top-btn{
	cursor: pointer; 
	margin-bottom: 3em; 
	border: 0; 
	background-color: white;
}

.story{
	text-align: left; 
	padding: 3em 0;
	width: 100%;
	border-top: 1px solid black;
}

.story-header{
	font-weight: lighter;
}

.story-descrp{
	margin-top: 1em;
	/* border: 1px solid black; */
}

.story-option-list{
	cursor: pointer;
	margin:2em 0;
	padding-bottom: 0.1em;
	/* border: 1px solid black; */
}

.story-option{
	float: left;
}

.story-option-right{
	margin-left: 3em;
}



.footer{
	position: relative;
	/* border: 1px solid black; */
	min-height: 10%;
	width: 100%;
	bottom: 0;
	left:0;
	right:0;
}

.final{
	padding: 2% 0 1% 0;
	text-align: center;
	color: black;
}

.final .links a{
	display: inline;
	color:black;
}
