<!DOCTYPE html>
<html>
<head>
	<title>MEAN Application</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
			$(".search-btn").click(function(e){
				var genre = $(".search-input").val();
				e.preventDefault();
				filter(genre);
			});

			$(".btn-filter").click(function(e){
				var genre = $(this).val();
				e.preventDefault();
				filter(genre);
			});

			function filter(genre){
				$(".videos").html("");
				$.ajax({
					method:'GET',
					url: 'api/videos',
					success: function(videos){
						var res = "";
						$.each(videos, function(i, video){
							if(video.title == genre || video.genre == genre) {
								res += "<div class='video sm-col-3'><img src='images/"+ video.image + "' style='width:200px; height:200px;' class='img-thumbnail'/><div class='caption'><a href='videos/" + video._id + "'>" + video.title + "</a></div></div>";
							}
						});

						if(res.length == 0) {
							$(".videos").html("<p>No Result!</p>");
						} else {
							$(".videos").html(res);
						}
					},
					error: function(){
						alert("Error loading videos");
					}

				});
			};

		})
	</script>

</head>
<body>
